.root {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: #333;
  border-radius: 10px;

  .item {
    width: 100%;
    vertical-align: middle;
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
  }

  .deleteBtn {
    position: absolute;
    top: 4%;
    right: -50%;
    font-size: .4rem;
    transition: right .2s ease-in-out;
  }

  .caption {
    position: absolute;
    bottom: -50%;
    margin: 0;
    padding-left: .5em;
    width: 100%;
    min-height: 40px;
    height: calc(100% / 5);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background: rgb(51 51 51 / 60%);
    transition: bottom .2s ease-in-out;
  }

  &:hover {
    .item {
      opacity: .5;
      transform: scale(1.2);
    }
    .deleteBtn {
      right: 4%;
    }

    .caption {
      bottom: 0;
    }
  }
}
